@charset "UTF-8";

body{
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size:15px;
	line-height:1.5;
	font-weight:600;
	background-color:#48df0c;
}

img{
	width:350px;
	height:auto;
	border:2;
}

.pic{
	width:350px;
	height:auto;
	border:2;
}

.title{
	font-style:italic;
}

#fiber{
	text-align:center;
}

#visual{
	text-align:center;
}

#music{
	text-align:center;
}
